.io-popular-video {
    margin: 0 0 calc(var(--io-size-500) * 1.5);
}

.io-popular-video__heading {
    margin-bottom: var(--io-size-300);
}

.io-popular-video__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--io-size-125) 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--io-size-125);
}

.io-popular-video__accordion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: var(--io-size-100);
}

.io-popular-video__accordion-item:first-of-type,
.io-popular-video__accordion-item:not(:first-of-type) {
    padding: 0;
    background-color: var(--io-white-main);
    border-radius: var(--io-size-075);
    border: none;
    -webkit-box-shadow: 0px 10px 14px 0px rgba(189, 189, 189, 0.3);
    ;
    box-shadow: 0px 10px 14px 0px rgba(189, 189, 189, 0.3);
    ;
}

.io-popular-video__accordion-item:first-of-type .io-popular-video__accordion-button,
.io-popular-video__accordion-item:not(:first-of-type) .io-popular-video__accordion-button,
.io-popular-video__accordion-item:last-of-type .io-popular-video__accordion-button.collapsed {
    border-radius: var(--io-size-075);
    padding: var(--io-size-150) var(--io-size-125);
    font-size: 20px;
    font-weight: 400;
    color: var(--io-black-main);
    transition: var(--io-transition);
}

.io-popular-video__accordion-item:first-of-type .io-popular-video__accordion-button:hover,
.io-popular-video__accordion-item:not(:first-of-type) .io-popular-video__accordion-button:hover,
.io-popular-video__accordion-item:last-of-type .io-popular-video__accordion-button.collapsed:hover {
    padding-left: var(--io-size-200);
}

.io-popular-video__accordion-item.io-active {
    -webkit-box-shadow: 5px 7px 20px 0px rgba(122, 97, 255, 0.25);
    ;
    box-shadow: 5px 7px 20px 0px rgba(122, 97, 255, 0.25);
    ;
    /* background-color: var(--io-orange-secondary); */
    /* border: 1px solid var(--io-orange-main); */
}

.io-popular-video__accordion-button::after {
    display: none;
}

.io-popular-video__accordion-button:focus,
.io-popular-video__accordion-button:not(.collapsed) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.io-popular-video__accordion-button:not(.collapsed) {
    pointer-events: none;
}

.io-popular-video__accordion-item:first-of-type .io-popular-video__accordion-button:not(.collapsed),
.io-popular-video__accordion-item:not(:first-of-type) .io-popular-video__accordion-button:not(.collapsed) {
    background-color: #ffe991;
    color: var(--io-black-main);
    font-weight: 600;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.io-popular-video__accordion-body {
    position: relative;
    margin: 0;
    padding: var(--io-size-100) var(--io-size-125) var(--io-size-150);
    font-size: 16px;
    font-weight: 400;
    /* border-top: 1px solid var(--io-white-secondary); */
    /* background-color: var(--io-orange-secondary); */
    color: var(--io-black-main);
    border-bottom-left-radius: var(--io-size-075);
    border-bottom-right-radius: var(--io-size-075);
}

/* .io-popular-video__accordion-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - var(--io-size-250));
    height: 1px;
    background-color: var(--io-orange-main);
} */

.io-popular-video__video {
    border-radius: var(--io-size-075);
    overflow: hidden;
}

.io-popular-video__button {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);
}

.io-popular-video__button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='62' height='62' rx='31' fill='%23474E57' fill-opacity='0.8'%3E%3C/rect%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M48 32L24 45.8564L24 18.1436L48 32Z' fill='white'%3E%3C/path%3E%3C/g%3E%3Crect x='1' y='1' width='62' height='62' rx='31' stroke='white' stroke-width='2'%3E%3C/rect%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='14' y='10.1436' width='44' height='47.7128' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'%3E%3C/feFlood%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='2'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='5'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'%3E%3C/feColorMatrix%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'%3E%3C/feBlend%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'%3E%3C/feBlend%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--io-transition);
}

.io-popular-video__button:hover::after {
    width: 80px;
    height: 80px;
}

.io-popular-video__video iframe {
    width: 100%;
    height: 100%;
    border-radius: var(--io-size-075);
}

.io-popular-video__button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--io-size-150) var(--io-size-125);
    font-size: 20px;
    font-weight: 600;
    color: var(--io-white-main);
    background: rgba(0, 0, 0, .3)
}

.io-popular-video__inner-mobile {
    display: none;
}