.io-select {
    position: relative;
}

.io-select select {
    display: none;
}

.io-select__selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding: var(--io-size-050);
    background-color: var(--io-white-main);
    border-radius: var(--io-size-025);
    color: var(--io-black-main);
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.io-select__selected.error {
    border-color: red;
}

.io-select__selected::after {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99997 9.42017C5.7849 9.42017 5.56987 9.33806 5.4059 9.17417L0.24617 4.01439C-0.0820565 3.68616 -0.0820565 3.154 0.24617 2.8259C0.574263 2.49781 1.10632 2.49781 1.43457 2.8259L5.99997 7.39156L10.5654 2.82606C10.8936 2.49797 11.4256 2.49797 11.7537 2.82606C12.0821 3.15416 12.0821 3.68632 11.7537 4.01455L6.59404 9.17433C6.42999 9.33824 6.21495 9.42017 5.99997 9.42017Z' fill='%237A61FF'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);
}

.io-select__selected.select-arrow-active {
    border-color: var(--io-purple-hover);
}

.io-select__selected.select-arrow-active::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.io-select__option--default {
    color: var(--io-black-main-op-60);
    font-size: 14px;
}

.io-select__select-items {
    position: absolute;
    top: calc(100% + var(--io-size-050));
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--io-white-main);
    border-radius: var(--io-size-050);
    border: 1px solid var(--io-white-secondary);
    -webkit-box-shadow: var(--io-box-shadow-large);
    box-shadow: var(--io-box-shadow-large);
    max-height: 278px;
    overflow: hidden;
    overflow-y: auto;
}

.io-bottom .io-select__select-items {
    top: unset;
    bottom: calc(100% + var(--io-size-050));
}

.io-select__select-items div {
    padding: var(--io-size-100);
    color: var(--io-black-main);
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);
}

.io-select.io-thin .io-select__select-items div {
    padding: var(--io-size-025) var(--io-size-100);
}

.select-hide,
.io-select__option--selected,
.io-select__select-items div:first-child {
    display: none;
}

.io-select__select-items div:hover,
.same-as-selected {
    background-color: var(--io-purple-secondary);
    color: var(--io-purple-main);
}

.io-select__label {
    position: absolute;
    top: 50%;
    left: var(--io-size-050);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);
    color: transparent;
    font-size: 14px;
}

.io-select__label.hide {
    position: absolute;
    top: 0;
    left: var(--io-size-050);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);
    background-color: var(--io-white-main);
    color: var(--io-black-main-op-60);
    padding: 0 var(--io-size-050);
    font-size: 12px;
}