/* Tabs */
.io-tabs-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    z-index: 100;
    margin: 0 0 var(--io-size-100);
    padding: 9px 0 0;
    background-color: var(--io-background);
}

.io-tabs {
    border-bottom: 1px solid var(--io-white-secondary);
}

.io-tabs .nav-tabs {
    gap: var(--io-size-150);
}

.io-tabs .nav-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.io-tabs .nav-tabs .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--io-size-025);
    background: transparent;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--io-black-main);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.io-tabs .nav-tabs .nav-link:hover,
.io-tabs .nav-tabs .nav-link:focus {
    color: var(--io-black-main);
    font-weight: 500;
    -webkit-box-shadow: inset 0 -3px var(--io-purple-main);
    box-shadow: inset 0 -3px var(--io-purple-main);
}

.io-tabs .nav-tabs .nav-link.active {
    color: var(--io-purple-main);
    font-weight: 500;
    -webkit-box-shadow: inset 0 -3px var(--io-purple-main);
    box-shadow: inset 0 -3px var(--io-purple-main);
    pointer-events: none;
}

/* Pills */
.io-pills {
    padding: var(--io-size-050);
    gap: var(--io-size-050);
    border-radius: var(--io-size-050);
    background-color: var(--io-purple-secondary);
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    padding: 0;
    background-color: unset;
}

.io-pills .nav-link {
    padding: var(--io-size-050) var(--io-size-200);
    color: var(--io-purple-main);
    font-size: var(--io-size-100);
    border-radius: var(--io-size-025);
    -webkit-transition: var(--io-transition);
    -o-transition: var(--io-transition);
    transition: var(--io-transition);

    border: 1px solid var(--io-purple-main);
}

.io-pills .nav-link:hover {
    background-color: var(--io-purple-secondary);
}

.io-pills .nav-link.active {
    color: var(--io-white-main);
    background-color: var(--io-purple-main);
    -webkit-box-shadow: var(--io-box-shadow-large);
    box-shadow: var(--io-box-shadow-large);

    background-color: var(--io-purple-secondary);
    color: var(--io-purple-main);
    border: 1px solid var(--io-purple-main);
    box-shadow: 0px 0px 0px 2px rgba(122, 97, 255, 0.25);
}